@charset "utf-8";
/* CSS Document */

body {
	
  font-family: "Alegreya Sans 900italic"
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 60;
  padding: 10;
  overflow: visible;
  color: #036;
  
}

h1 {
	font-family:"Alegreya Sans 900italic"
	font-size:18;
	text-shadow: 1px 1px 1px #033;
	font-family: 
	color: #39C;
  	margin: auto;
 	padding: 5;
	//box-shadow: 0 1px 2px #06C; 
	
}	

.work h2 {
	font-size:5;
	color: #39C;
  	margin: auto;
 	padding: 35;
	text-shadow: 1px 1px 0 #036;
}	

.work {
	
	
	font-size:16px;
	font-color:#036;
	text-align: left;	
	margin: auto;
 	padding: 5;
}

.details {
	
	font-size:16px;
	font-color:#036;
	text-align: left;
	margin: auto;
 	padding: 5;
}

.box {
	border: 1px solid black;
	box-sizing: padding-box;
	box-shadow: 1px 2px 2px #003;
	margin: 25px;
	padding: 5px;
	width: 1050px;

}

.box1 {
	
	border: 0.5px solid black;
	box-sizing: padding-box;
	box-shadow: 1px 2px 2px #003;
	margin: 25px;
	padding: 115px;
	width: 1350px;
}