@charset "utf-8";
/* CSS Document */

body {
	
  font-family: "Alegreya Sans 900italic"
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 60;
  padding: 10;
  overflow: visible;
  color: #036;
  background-color: rgba(59, 133, 207, 0.2);
  
}

h1 {
	font-family:"Alegreya Sans 900italic"
	font-size:18;
	text-shadow: 1px 1px 1px #033;
	font-family: 
	color: #39C;
  	margin: auto;
 	padding: 5;
	//box-shadow: 0 1px 2px #06C; 
	
}	

.jumbotron {
	
	background-image: url("geo4.jpg");
	
	/*-- this colour looked gay but I wanted to do this gradient effect with this image --background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
	top:0;
	position: fixed;
	*/
	box-shadow: 1px 2px 2px #003;
	border-radius: 5px;
	color: white;
	opacity: 0.80;
	background-size: 100% 100%;
    background-repeat: no-repeat;

}
.work h2 {
	font-size:5;
	color: #39C;
  	margin: auto;
 	padding: 35;
	text-shadow: 1px 1px 0 #036;
}	

.work {
	
	
	font-size:16px;
	font-color:#036;
	text-align: left;	
	margin: auto;
 	padding: 15;

}

.details {
	
	font-size:16px;
	font-color:#036;
	text-align: left;
	margin: auto;
 	padding: 5;
}

.box {
	border: 1px solid black;
	box-sizing: padding-box;
	box-shadow: 1px 2px 2px #003;
	border-radius: 5px;
	margin: 25px;
	padding: 5px;
	width: 950px;
	background-color: whitesmoke;
	alignment: center;


}

.box1 {
	
	border: 1px solid black;
	box-sizing: padding-box;
	box-shadow: 1px 2px 2px #003;
	border-radius: 5px;
	margin: 15px;
	padding: 15px;
	width: 1205px;
	background-color: rgb(207, 228, 217);

}